## 함수

In [2]:
function f(x,y)
    x+y
end

f (generic function with 1 method)

In [3]:
f(3,2)

5

In [4]:
f(x,y) = x+y #이런식도 가능

f (generic function with 1 method)

In [5]:
g = f
g(5,3)

8

In [6]:
∑(x,y) = x+y

∑ (generic function with 1 method)

In [7]:
∑(3,5)

8

In [8]:
function hypot(x,y)
    x = abs(x)
    y = abs(y)
    if x > y
        r = y/x
        return x* sqrt(1+r*r)
    end
    
    if y==0
        return zero(x)
    end
    
    r = x/y
    return y*sqrt(1+r*r)
end

hypot (generic function with 1 method)

In [9]:
hypot(3,4)

5.0

In [10]:
#반환값이 없다면 nothing

function printx(x)
    println("x = $x")
    return nothing
end

printx (generic function with 1 method)

In [11]:
printx(5)

x = 5

In [12]:
println(1+2+3)
println(+(1,2,3))

6
6

## 익명함수

In [13]:
x -> x^2 +2x -1

#1 (generic function with 1 method)

In [14]:
map(round,[1.2,3.5,1.7])

3-element Vector{Float64}:
 1.0
 4.0
 2.0

In [15]:
map(x -> x^2 +2x -1, [1,3,-1])

3-element Vector{Int64}:
  2
 14
 -2

## tuple

In [16]:
(1,1+1)

(1, 2)

In [17]:
x=(0.0, "hello", 6*7)

(0.0, "hello", 42)

In [18]:
x[2]

"hello"

In [19]:
#지명 튜플
x = (a = 1 , b = 1+1 )

(a = 1, b = 2)

In [20]:
x.a

1

In [21]:
function foo(a,b)
    a+b , a*b
end

foo (generic function with 1 method)

In [22]:
foo(2,3)

(5, 6)

In [23]:
x,y = foo(2,3)
print(x,"\n")
print(y)

5
6

In [24]:
minmax(x,y) = (x > y) ? (y,x) : (x,y)

minmax (generic function with 1 method)

In [25]:
minmax(2,10)

(2, 10)

In [26]:
minmax(10,2)

(2, 10)

In [27]:
range((min,max)) = max - min

range (generic function with 1 method)

In [28]:
range(minmax(10,2))

8

In [29]:
bar(a,b,x...) = (a,b,x)

bar (generic function with 1 method)

In [30]:
println(bar(1,2))
println(bar(1,2,3))
println(bar(1,2,3,4))
println(bar(1,2,3,4,5,6))

(1, 2, ())
(1, 2, (3,))
(1, 2, (3, 4))
(1, 2, (3, 4, 5, 6))

## 제어 흐름
    
    조건부 계산: if, elseif, else, ?
    복합 표현 : begin, (;)
    단락 계산 : && , ||
    반복 계산 : while , for
    예외 처리 : try-catch, error 및 throw
    태스크(일명 코루틴): yieldto

In [31]:
z= begin
    x=1
    y=2
    x+y
end

3

In [32]:
z = (x = 1; y = 2 ; x+y)

3

In [33]:
begin x = 1 ; y = 2; x+y end

3

In [34]:
(x = 1;
y = 2;
x+y)

3

## 조건부 계산

In [36]:
function test(x,y)
    if x <  y
        println("x is less then y")
    elseif x > y 
        println("x is greater then y")
    else
        println("x is equal to y")
    end
end

test (generic function with 1 method)

In [40]:
test(1,2)
test(2,1)
test(2,2)

x is less then y
x is greater then y
x is equal to y

In [41]:
function test(x,y)
   if x < y
       relation = "less than"
   elseif x == y
       relation = "equal to"
   else
       relation = "greater than"
   end
   println("x is ", relation, " y.")
end

test (generic function with 1 method)

In [42]:
test(1,2)
test(2,1)
test(2,2)

x is less than y.
x is greater than y.
x is equal to y.

In [43]:
x = 1; y = 2;
println(x < y ? "less then" : "not less than")

les then

In [44]:
x = 3; y = 2;
println(x < y ? "less then" : "not less than")

not less than

In [45]:
test(x, y) = println(x < y ? "x is less than y"    :
                            x > y ? "x is greater than y" : "x is equal to y")

test (generic function with 1 method)

In [46]:
test(1,2)
test(2,1)
test(2,2)

x is less than y
x is greater than y
x is equal to y

## 반복 계산: 루프

In [47]:
i = 1

1

In [48]:
while i <=5
    println(i)
    global i +=1
end

1
2
3
4
5

In [49]:
for i = 1:5
    println(i)
end

1
2
3
4
5

In [50]:
# = 대신에 in 이나 \in 으로 가능
for i in [1,4,0]
    println(i)
end

for i ∈ ["Lee","Hyun","Woo"]
    println(i)
end

1
4
0
Lee
Hyun
Woo

In [51]:
#break 가능
for j = 1:1000
    println(j)
    if j>=5
        break
    end
end

1
2
3
4
5

In [53]:
for j = 1:10
    if j%3!=0
        continue
    end
    println(j)
end

3
6
9

In [54]:
for i = 1:2, j = 3:4
    println((i,j))
end

(1, 3)
(1, 4)
(2, 3)
(2, 4)

## 예외 처리

    Exception  
    ArgumentError  
    BoundsError  
    CompositeException  
    DivideError  
    DomainError  
    EOFError  
    ErrorException  
    InexactError  
    InitError  
    InterruptException  
    InvalidStateException  
    KeyError  
    LoadError  
    OutOfMemoryError  
    ReadOnlyMemoryError  
    RemoteException  
    MethodError  
    OverflowError  
    Meta.ParseError  
    SystemError  
    TypeError  
    UndefRefError  
    UndefVarError  
    StringIndexError